.expected-refuel {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    gap: 6px;
    padding: 8px 0px;
    margin-bottom: 20px;
    background-color: rgba(225, 243, 217, 0.867);
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.04em;
}
