.fuel-table-header {
    border: 1px solid green;
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 0 10px;
}

.fuel-row {
    display: flex;
    align-items: center;
    min-height: 30px;
    margin: 5px 0;
    padding: 0 10px;

    &:hover {
        background-color: rgba(248, 236, 231, 0.507);
        transition: background-color 0.2s ease;
    }
}
