.fuel-card {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 4px;
    width: 100%;
    padding: 6px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #2828282e;
    background-color: #fffdff;
    border-radius: 8px;
    font-size: 14px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__detail {
        font-size: 13px;
        color: #9c9898;
        padding-right: 6px;
    }
}
