.nav-button {
    font-size: 13px;
    letter-spacing: 1.1;
    margin-right: 10px;
    padding: 3px 8px;
    border-radius: 4px;
    background-color: rgb(237, 242, 243);
    border-color: #333;
    color: #444;

    &:hover {
        background-color: rgb(237, 242, 243);
        border-color: #858282d7;
    }
}
