.fuel {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 18px;
}