.fuel {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;

    @media (max-width:760px) {
        max-width: 300px;
        margin: 20px auto;
      }
}
